:root {
	--background-color: #1e282d;
	--foreground-color: #fff;
	--highlight-color: #f90;
	--base-size: min(4rem, 8vw);
}

html,
body {
	height: 100%;
	margin: 0;
}

html {
	background-color: var(--background-color);
	color: var(--foreground-color);
	font-family: sans-serif;
	font-size: 16px;
}

body {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#__next {
	display: contents;
}
