.Home {
	display: contents;
}

.link {
	color: var(--foreground-color);
	cursor: pointer;
	font-size: calc(var(--base-size) / 2);
	text-decoration: none;
}

.link:hover,
.link:focus {
	color: var(--highlight-color);
	outline: 0;
	text-decoration: underline;
}

.image {
	max-width: 20rem;
	width: 40vw;
}

.title {
	font-size: var(--base-size);
	margin-bottom: calc(var(--base-size) / 4);
}

.list {
	align-items: center;
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
}

.listItem {
	border-right: solid calc(var(--base-size) / 16) var(--foreground-color);
	padding: 0 calc(var(--base-size) / 4);
}

.listItem:last-child {
	border-right: 0;
}

@media (max-width: 480px) {
	.list {
		flex-direction: column;
	}
	.listItem {
		border-right: 0;
		padding: calc(var(--base-size) / 4) 0;
	}
	.link {
		font-size: calc(var(--base-size) / 1.25);
	}
}
